.main-div {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    
}

.main-box {
    background: white;
    color: black;
    border-radius: 1rem;
    margin: 0 0 1rem 0;
    padding: 1rem 0;
}

.main-image {
    max-width: 100%;
}

ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }

.img-circle {
    max-height: 300px;
    margin-bottom: 15px;
}

.background {
    background: linear-gradient(white, rgb(206, 206, 206), white);
}

.black-link {
    color: #000000;
}

.btn-default {
    background: #123f0a;
    color: whitesmoke;
    
}
